:root {
  --yellow-kokoa: #fae100;
  --gray-kokoa: rgba(0, 0, 0, 0.5);
  --horizontal-space: 25px;
  --vertical-space: 21px;
  --main-border: 1px solid rgba(0, 0, 0, 0.2);
  --chat-bgcolor: #abc1d1;
}
